image:
  repository: user-stats-service
  tag: latest
  pullPolicy: IfNotPresent

config:
  userStatsDbUrl: "postgres://user:password@postgres-stats-postgresql:5432/stats_db?sslmode=disable"
  rabbitmqUrl: "amqp://user:password@rabbitmq:5672/"

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "200m"

api:
  replicaCount: 1

worker:
  replicaCount: 1

