image:
  repository: auth-service
  tag: latest
  pullPolicy: IfNotPresent

config:
  authDbUrl: "postgres://user:password@postgres-auth-postgresql:5432/auth_db?sslmode=disable"
  rabbitmqUrl: "amqp://user:password@rabbitmq:5672/"
  jwtIssuer: "{{ .Release.Name }}"
  jwtPrivateKeyPath: "/app/keys/private.pem"
  jwtPublicKeyPath: "/app/keys/public.pem"
resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "200m"

api:
  replicaCount: 1
