image:
  repository: auth-service
  tag: latest
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  className: nginx
  host: api.auction.local

config:
  authDbUrl: "postgres://user:password@postgres-auth-postgresql:5432/auth_db?sslmode=disable"

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "200m"

api:
  replicaCount: 1
